.box1 {
  border-style: solid;
  border-color: blue;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.heading {
  color: red;
}
.sub-para {
  color: red;
}
